:root {
  --primario: #1073ba;
  --secundario: #00da55;
  --gris: #3b3b3b;
  --blanco: #ffffff;
  --negro: #1f1e1e;
  --grisClaro: #e1e1e1;

  --separacion: 5rem;

  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundaria: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: calc(var(--separacion) / 2) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
}

/**Degradados**/
.degradado-verde {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--primario) 0%,
    var(--secundario) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/**Utilidades***/

.text-center {
  text-align: center;
}

/** HEADER **/

.header {
  background-color: var(--negro);
  padding: calc(var(--separacion) * 3) 0;
  color: var(--blanco);
}

.header img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .contenido-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-header {
  text-align: center;
  padding-top: var(--separacion);
}

.texto-header p {
  margin: 0;
}

@media (min-width: 768px) {
  .texto-header {
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.tagline-producto {
  font-size: 3rem;
  font-weight: 900;
}

.nombre-producto {
  font-size: 6rem;
  margin: 0;
}

@media (min-width: 768px) {
  .nombre-producto {
    font-size: 10rem;
    line-height: 1;
  }
}

.precio-producto span {
  font-size: 6rem;
  font-weight: 900;
}

.iconos {
  padding: var(--separacion) 0;
}

@media (min-width: 768px) {
  .iconos {
    display: flex;
    gap: 2rem;
  }
}

.icono {
  text-align: center;
  margin-bottom: calc(var(--separacion / 2));
}

.icono:last-of-type {
  margin: 0;
}

@media (min-width: 768px) {
  .icono {
    margin: 0;
  }
}

.icono img {
  width: 5rem;
  margin: 0 auto;
}

.icono h3 {
  color: var(--primario);
  text-transform: uppercase;
  margin-top: var(--separacion / 2);
}

.sobre-tech {
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      var(--primario) 0%
    ),
    url(../img/imagen-mujer.jpg);
  background-position: right;
    background-repeat: no-repeat;
    background-size: 100% , 110rem;
}

@media (min-width: 768px) {
  .sobre-tech {
    background-image: linear-gradient(
        to left,
        transparent 50%,
        var(--primario) 0%
      ),
      url(../img/imagen-mujer.jpg);
    background-repeat: no-repeat;
    }
}

.sobre-tech-grid {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  row-gap: var(--separacion);
}

@media (min-width: 768px) {
  .sobre-tech-grid {
    grid-template-rows: unset;
    row-gap: unset;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 4rem;
    padding: calc(var(--separacion)*2);
  }
}

@media (min-width: 768px) {
  .texto-sobre-tech {
    grid-row: 2/3;
    color: var(--blanco);
  }
}

.texto-sobre-tech {
  grid-row: 2/3;
  color: var(--blanco);
}

.texto-sobre-tech p {
  font-size: 2rem;
  line-height: 2;
}

.texto-sobre-tech h2 {
  font-size: 4rem;
}

/**Modelos TechPRO**/

.modelos{
    padding: var(--separacion) 0;
}

.header-modelos{
    font-size: 6rem;
    margin-bottom: var(--separacion);
}

.listado-modelos{
    display: flex;
    flex-direction: column-reverse;
 

}

@media (min-width: 992px){
  .listado-modelos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,20rem);
    gap: 4rem;
  }
}

.modelo{
    background-color: var(--grisClaro);
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding-left: 4rem;
    color: var(--primario);
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: 90% center;
    background-size: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: transform;
    transition-duration: .3s ;
}

.modelo:hover{
  transform: scale(1.1);
}

@media (min-width: 992px){
  .modelo{
    margin-bottom: 0;
  }
}

.modelo h3{
  font-size: 2.4rem;

}

.modelo .precio{
  font-size: 4rem;
  font-weight: 900;
  line-height: 0;
}

.modelo:first-of-type{
    margin-bottom: 0;
}

.modelo-x{
  background-image: url(../img/modelo-x.svg);
  background-repeat: no-repeat;
}

.modelo-y{
  background-image: url(../img/modelo-y.svg);
  background-repeat: no-repeat;
}

.modelo-z{
    background-image: url(../img/modelo-z.svg);
    background-repeat: no-repeat;
    background-color: var(--primario);
    color: white;
}

@media (min-width: 992px){
  .modelo-z{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-size: 25rem;
  }

  .modelo-z h3{
    font-size: 4rem;
  }
}

.modelo-z .precio{
  font-size: 6rem;
}



